{% extends 'base.html' %}


{% block content %}

    {% if collection|length > 0 %}
        <ul>
            {% for title in collection %}
                <!-- {% if title.ISBN_13 %} -->
                <li>
                    <a href="{% url 'book_detail' title.pk %}">{{title}}</a>
                </li>
                <!-- {% else %}
                <li>
                    <a href="{% url 'book_detail' title.pk %}">{{title}}</a>
                </li>
                {% endif %} -->
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no books in your collection.</p>
    {% endif %}

{% endblock content %}
