{% extends './base.html' %}
{% load static %}

{% block welcome %}

<h2>Welcome {{ user.username }}!</h2>

{% if user.mediauser %}
<p>You have {{ num_of_books }} books in your collection.</p>
{% endif %}

{% endblock welcome %}

{% block content %}

{% if not user.is_superuser %}

<p>To check if a book is in your collection or add a book to your collection, search by ISBN using the button below.</p>

<a href="{% url 'search' %}" class="button">Search by ISBN</a>

{% endif %}

{% endblock content %}
