<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/mediatracker.css' %}" />
        <title>Login</title>
    </head>
    <body>
        <h1>Media Tracker <img src="{% static '/images/Book.png' %}" alt="book icon" class="icon"></h1>
        <hr>
        <h2>
            User Login
        </h2>
        <form action="" method="post">
            {% csrf_token %} {{ form.as_p }}
            <button type="submit" class="button formButton">Login</button>
        </form>
    </body>
</html>
